<div *ngIf="blogEntry != null">
  <div class="card">
    <div class="card-body">

      <!-- header -->
      <div class="d-flex justify-content-between">

        <!-- display title -->
        <div>
          <b>{{blogEntry.title}}</b>
        </div>

        <!-- display comments link  -->
        <div *ngIf="displayCommentsLink">
          <a routerLink="blog/{{blogEntry.urlFriendlyId}}">
            <span *ngIf="blogEntry.commentCount === 0 && !blogEntry.commentsDisabled"> Add comment<span class="badge badge-pill badge-primary">{{blogEntry.commentCount}}</span> </span>
            <span *ngIf="blogEntry.commentCount > 0">Comments <span class="badge badge-pill badge-primary">{{blogEntry.commentCount}}</span></span>
          </a>
        </div>
      </div>

      <!-- display time and author  -->
      <small class="text-muted">
        {{blogEntry.created | date : 'medium'}} by
        <span *ngIf="blogEntry.email">
          <a href="{{'mailto:' + blogEntry.email}}">{{blogEntry.name}}</a>
        </span>
        <span *ngIf="!blogEntry.email">{{blogEntry.name}}</span>
      </small>

      <div class="card-text" [innerHTML]="blogEntry.body"></div>
    </div>
  </div>
</div>
