<div *ngIf="blogEntryWithComments != null">
  <div *ngFor="let item of blogEntryWithComments?.comments">
    <div class="card">
      <div class="card-block">
        <button type="button" class="btn btn-link" (click)="deleteComment(item.blogCommentId)">Delete</button>
        <p class="card-text">{{item.body}}</p>
      </div>
    </div>
    <br />
    <br />
  </div>
  <hr />
  <h2>Add new blog entry</h2>
  <form>
    <div class="form-group">
      <label for="body">Comment</label>
      <textarea class="form-control" id="body" name="body" [(ngModel)]="newComment.body" placeholder="Enter comment" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="newComment.email" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Optional - will be displayed with comment if entered</small>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newComment.name" placeholder="Enter name">
    </div>
    <button type="submit" class="btn btn-primary" (click)="addComment()">Add comment</button>
  </form>
</div>
