<div *ngIf="blogEntry != null">
  <div class="card">
    <div class="card-block">
      <h5 class="card-title">{{blogEntry.title}}</h5>
      <div *ngIf="displayCommentsLink && blogEntry.commentsDisabled === false">
        <div class="pull-right">
          <a routerLink="blog/{{blogEntry.urlFriendlyId}}"> 
            <span *ngIf="blogEntry.commentCount === 0">Add comment</span>
            <span *ngIf="blogEntry.commentCount > 0">Comments</span>
            <span class="badge badge-pill badge-primary">{{blogEntry.commentCount}}</span>
          </a>
        </div>
      </div>
      <div *ngIf="displayCommentsLink && blogEntry.commentsDisabled === true">
        <div class="pull-right"><a routerLink="blog/{{blogEntry.urlFriendlyId}}">Comments <span class="badge badge-pill badge-primary">{{blogEntry.commentCount}}</span></a></div>
      </div>      
      <p class="card-text">{{blogEntry.body}}</p>
    </div>
  </div>
</div>

