<div *ngIf="blogEntryWithComments != null">
  <div *ngFor="let item of blogEntryWithComments?.comments">
    <div class="card">
      <div class="card-block">

        <div class="d-flex justify-content-between">

          <!-- display comment -->
          <div>

            <!-- display time and author  -->
            <small class="text-muted">
              {{item.created | date : 'medium'}} by
              <span *ngIf="item.email">
                <a href="{{'mailto:' + item.email}}">{{item.name}}</a>
              </span>
              <span *ngIf="!item.email">{{item.name}}</span>
            </small>

          </div>

          <!-- display edit/delete links -->
          <div>
            <div *ngIf="isAdministrator || hasValidToken && currentUserId && currentUserId === item.userId">
                <button type="button" class="btn btn-link"
                        (click)="deleteComment(item.blogCommentId)"
                        [disabled]="deleteIsBusy">Delete</button> |
                <app-edit-comment-modal [comment]="item" ></app-edit-comment-modal>
              </div>
          </div>

        </div>
        {{item.body}}
      </div>
    </div>
    <br />
  </div>

  <hr />

  <!-- add new comment -->
  <div *ngIf="blogEntryWithComments.commentsDisabled === false">
    <h5>Add new comment</h5>
    <form>
      <div *ngIf="hasValidToken === false">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newComment.name" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="newComment.email" aria-describedby="emailHelp"
            placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Optional - will be displayed with comment if entered</small>
        </div>
      </div>
      <div class="form-group">
        <label for="body">Comment</label>
        <textarea class="form-control" id="body" name="body" [(ngModel)]="newComment.body" placeholder="Enter comment" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" (click)="addComment()" [disabled]="addIsBusy">Add comment</button>
    </form>
  </div>
</div>
