<table class="table table-striped">
  <thead>
    <tr>
        <th>Created</th>
        <th>Content</th>
        <th>Email</th>
        <th>IP-address</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of comments | async">
          <td>{{item.created | date: 'dd/MM-yyyy HH:mm'}}</td>
          <td>{{item.body}}</td>
          <td>{{item.email}}</td>
          <td>{{item.ipAddress}}</td>
          <td><button type="button" class="btn btn-link" (click)="deleteComment(item)">Delete</button></td>
        </tr>
  </tbody>
</table>